<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>User Creation</h1>
    </c-col>
</c-row>
<hr />
<c-container fluid>
    <form cForm #userCreateForm="ngForm" (ngSubmit)="create()" (change)="resetError()">
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header>
                        <h3>Basic Information</h3>
                    </c-card-header>
                    <c-card-body>
                        <small
                            *ngIf="submitted   && (firstName.errors)  || (firstName.invalid && (firstName.dirty || firstName.touched))"
                            class="form-text text-danger mx-1">
                            First Name is required
                        </small>
                        <small
                            *ngIf="submitted   && (middleName.errors) || (middleName.invalid && (middleName.dirty || middleName.touched))"
                            class="form-text text-danger mx-1">
                            Middle Name is required
                        </small>
                        <small
                            *ngIf="submitted   && (lastName.errors) || (lastName.invalid && (lastName.dirty || lastName.touched))"
                            class="form-text text-danger mx-1">
                            Last Name is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText>First Middle Last</span>
                            <input cFormControl id="firstName" name="firstName" sizing="sm" placeholder="First Name"
                                required
                                [ngClass]="{'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)}"
                                [(ngModel)]="user.firstName" #firstName="ngModel" />

                            <input cFormControl id="middleName" name="middleName" sizing="sm" placeholder="Middle Name"
                                [ngClass]="{'is-invalid': middleName.invalid && (middleName.dirty || middleName.touched)}"
                                [(ngModel)]="user.middleName" #middleName="ngModel" />

                            <input cFormControl id="lastName" name="lastName" sizing="sm" placeholder="Last Name"
                                required
                                [ngClass]="{'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)}"
                                [(ngModel)]="user.lastName" #lastName="ngModel" />
                        </c-input-group>
                        <small
                            *ngIf="submitted   && (email.errors) || (email.invalid && (email.dirty || email.touched))"
                            class="form-text text-danger">
                            Email is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText id="basic-addon1">&#64;</span>
                            <input aria-describedby="basic-addon1" id="email" name="email" cFormControl required
                                placeholder="email" #email="ngModel" [(ngModel)]="user.email" />
                        </c-input-group>
                        <small
                            *ngIf="submitted   && (password.errors) || (password.invalid && (password.dirty || password.touched))"
                            class="form-text text-danger">
                            Password is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText id="basic-addon1">
                                <svg cIcon name="cilLockLocked"></svg>
                            </span>
                            <input aria-describedby="basic-addon1" id="password" name="password" cFormControl required
                                placeholder="password" #password="ngModel" [(ngModel)]="user.password"
                                type="password" />
                        </c-input-group>
                        <small
                            *ngIf="submitted   && (username.errors) || (username.invalid && (username.dirty || username.touched))"
                            class="form-text text-danger">
                            Username is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText id="basic-addon1">
                                <svg cIcon name="cilUser"></svg>
                            </span>
                            <input aria-describedby="basic-addon1" id="username" name="username" cFormControl required
                                placeholder="username" #username="ngModel" [(ngModel)]="user.userName" />
                        </c-input-group>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header>
                        <h3>User Type</h3>
                    </c-card-header>
                    <c-card-body>
                        <small *ngIf="submitted   && (role.errors) || (role.invalid && (role.dirty || role.touched))"
                            class="form-text text-danger">
                            Role is required
                        </small>
                        <select cFormControl cSelect class="mb-2" sizing="sm" id="role" name="role" required
                            [ngClass]="{'is-invalid': role.invalid && (role.dirty || role.touched)}"
                            [(ngModel)]="user.role" #role="ngModel">
                            <option [ngValue]="null" disabled selected>Select User Type</option>
                            <option *ngFor="let role of roles | keyvalue" [value]="role.key">
                                {{role.value}}
                            </option>
                        </select>
                        <!--Doctor -->
                        <span *ngIf="user.role === 'clinical_emr_role'">
                            <!--NPI-->
                            <small *ngIf="submitted   && (npi.errors) || (npi.invalid && (npi.dirty || npi.touched))"
                                class="form-text text-danger">
                                Doctor npi is required
                            </small>
                            <c-input-group class="mb-3">
                                <input autoComplete="name" cFormControl id="npi" name="npi" sizing="sm"
                                    placeholder="Enter Doctor npi" required
                                    [ngClass]="{'is-invalid': npi.invalid && (npi.dirty || npi.touched)}"
                                    [(ngModel)]="user.doctor.npi" #npi="ngModel" />
                            </c-input-group>
                            <!--licence-->
                            <small
                                *ngIf="submitted   && (licence.errors) || (licence.invalid && (licence.dirty || licence.touched))"
                                class="form-text text-danger">
                                Doctor npi is required
                            </small>
                            <c-input-group class="mb-3">
                                <input autoComplete="name" cFormControl id="licence" name="licence" sizing="sm"
                                    placeholder="Enter Doctor Licence" required
                                    [ngClass]="{'is-invalid': licence.invalid && (licence.dirty || licence.touched)}"
                                    [(ngModel)]="user.doctor.licence" #licence="ngModel" />
                            </c-input-group>
                            <!--speciality -->
                            <small
                                *ngIf="submitted   && (speciality.errors) || (speciality.invalid && (speciality.dirty || speciality.touched))"
                                class="form-text text-danger">
                                Doctor Speciality is required
                            </small>
                            <select cFormControl cSelect class="mb-2" sizing="sm" id="speciality" name="speciality"
                                required
                                [ngClass]="{'is-invalid': speciality.invalid && (speciality.dirty || speciality.touched)}"
                                [(ngModel)]="user.doctor.speciality" #speciality="ngModel"
                                (change)="getDoctorCredentials()">
                                <option [ngValue]="null" disabled selected>Select Doctor Speciality</option>
                                <option *ngFor="let specialty of specialties | keyvalue" [value]="specialty.key">
                                    {{specialty.value}}
                                </option>
                            </select>
                            <!--credential -->
                            <small
                                *ngIf="submitted   && (credential.errors) || (credential.invalid && (credential.dirty || credential.touched))"
                                class="form-text text-danger">
                                Doctor Credential is required
                            </small>
                            <select cFormControl cSelect class="mb-2" sizing="sm" id="credential" name="credential"
                                required
                                [ngClass]="{'is-invalid': credential.invalid && (credential.dirty || credential.touched)}"
                                [(ngModel)]="user.doctor.credential" #credential="ngModel">
                                <option [ngValue]="null" disabled selected>Select Doctor Credential</option>
                                <option *ngFor="let credential of credentials" [value]="credential">
                                    {{credential}}
                                </option>
                            </select>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header>
                        <h3>Clinics</h3>
                    </c-card-header>
                    <c-card-body>

                        <small
                            *ngIf="submitted   && (selectedClinic.errors) || (selectedClinic.invalid && (selectedClinic.dirty || selectedClinic.touched))"
                            class="form-text text-danger">
                            Clinics is required
                        </small>
                        <c-multi-select multiple size="sm" cSelect name="selectedClinic" id="selectedClinic"  required [selectAll]="false"
                            [(ngModel)]="user.clinics" #selectedClinic="ngModel">
                            <c-multi-select-option *ngFor="let clinic of clinics"
                                [value]="clinic.id?.toString()">{{clinic.name}}</c-multi-select-option>
                        </c-multi-select>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <div class="d-grid gap-2 col-2 mx-auto mb-5">
            <button cButton color="primary" variant="outline" type="submit">Create
            </button>
        </div>
    </form>
</c-container>