<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>User Creation</h1>
    </c-col>
</c-row>
<hr />
<c-container fluid>
    <form cForm #userCreateForm="ngForm" (ngSubmit)="create()" (change)="resetError()">
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header>
                        <h3>Basic Information</h3>
                    </c-card-header>
                    <c-card-body>
                        <small *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                            class="form-text text-danger">
                            First Name is required
                        </small>
                        <small *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)"
                            class="form-text text-danger">
                            Middle Name is required
                        </small>
                        <small *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                            class="form-text text-danger">
                            Last Name is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText>First Middle Last</span>
                            <input cFormControl id="firstName" name="firstName" sizing="sm" placeholder="First Name"
                                required
                                [ngClass]="{'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)}"
                                [(ngModel)]="user.firstName" #firstName="ngModel" />

                            <input cFormControl id="middleName" name="middleName" sizing="sm" placeholder="Middle Name"
                                required
                                [ngClass]="{'is-invalid': middleName.invalid && (middleName.dirty || middleName.touched)}"
                                [(ngModel)]="user.middleName" #middleName="ngModel" />

                            <input cFormControl id="lastName" name="lastName" sizing="sm" placeholder="Last Name"
                                required
                                [ngClass]="{'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)}"
                                [(ngModel)]="user.lastName" #lastName="ngModel" />
                        </c-input-group>
                        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">
                            Email is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText id="basic-addon1">@</span>
                            <input aria-describedby="basic-addon1" id="email" name="email" cFormControl required
                                placeholder="email" #email="ngModel" [(ngModel)]="user.email" />
                        </c-input-group>
                        <small *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="form-text text-danger">
                            Password is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText id="basic-addon1">
                                <svg cIcon name="cilLockLocked"></svg>
                            </span>
                            <input aria-describedby="basic-addon1" id="password" name="password" cFormControl required
                                placeholder="password" #password="ngModel" [(ngModel)]="user.password"
                                type="password" />
                        </c-input-group>
                        <small *ngIf="username.invalid && (username.dirty || username.touched)"
                            class="form-text text-danger">
                            Username is required
                        </small>
                        <c-input-group class="mb-3" sizing="sm">
                            <span cInputGroupText id="basic-addon1">
                                <svg cIcon name="cilUser"></svg>
                            </span>
                            <input aria-describedby="basic-addon1" id="username" name="username" cFormControl required
                                placeholder="username" #username="ngModel" [(ngModel)]="user.userName" />
                        </c-input-group>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header>
                        <h3>Roles</h3>
                    </c-card-header>
                    <c-card-body>
                        <small *ngIf="role.invalid && (role.dirty || role.touched)" class="form-text text-danger">
                            Role is required
                        </small>
                        <select cFormControl cSelect class="mb-2" sizing="sm" id="IdType" name="IdType" required
                        [ngClass]="{'is-invalid': role.invalid && (role.dirty || role.touched)}" [(ngModel)]="user.role"
                        #role="ngModel">
                        <option [ngValue]="null" disabled selected>Select Role</option>
                        <option *ngFor="let role of roles | keyvalue" [value]="role.key">
                            {{role.value}}
                        </option>
                    </select>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row class="justify-content-center">
            <c-col class="col">
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header>
                        <h3>Clinics</h3>
                    </c-card-header>
                    <c-card-body>
                        <c-input-group class="mb-3">
                            <c-multi-select *ngIf="clinics" multiple cSelect sizing="sm"
                                autoComplete="selectedClinics" name="selectedClinics" id="selectedClinics"
                                [(ngModel)]="user.clinics" #selectedClinics="ngModel">
                                <c-multi-select-option *ngFor="let clinic of clinics"
                                    [value]="clinic.id?.toString()">{{clinic.name}}</c-multi-select-option>
                            </c-multi-select>
                        </c-input-group>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <div class="d-grid gap-2 col-2 mx-auto mb-5">
            <button cButton color="primary" variant="outline" type="submit">Create
            </button>
        </div>
    </form>
</c-container>