<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
    [dayStartHour]="(schedulerConfiguration$ | async)?.startHour"
    [dayEndHour]="(schedulerConfiguration$ | async)?.endHour">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
    [dayStartHour]="(schedulerConfiguration$ | async)?.startHour"
    [dayEndHour]="(schedulerConfiguration$ | async)?.endHour">
  </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />
<span *ngIf="addAppointmentVisibility">
  <c-modal id="addAppointment" [visible]="true" scrollable size="xl">
    <c-modal-header>
      <h5 cModalTitle>Add Appointment </h5>
      <button (click)="toggleAddAppointment()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <app-appointment-add #appointmentAddComponent [startDate]="viewDate" [iscreate]="isCreate"></app-appointment-add>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleAddAppointment()" cButton color="secondary">
        Close
      </button>
      <button cButton color="primary" (click)="save()">Save changes</button>
    </c-modal-footer>
  </c-modal>
</span>

<span *ngIf="appointmentActionsVisibility">
  <c-modal id="AppointmentAction" [visible]="true">
    <c-modal-header>
      <h5 cModalTitle>Appointment Details</h5>
      <button (click)="toggleAppointmentActions()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <app-appointment-actions
        (changeVisibility)="changeAppointmentActionsVisibility($event)"></app-appointment-actions>
    </c-modal-body>
  </c-modal>
</span>
<span *ngIf="appointmentStatusVisibility">
  <c-modal id="AppointmentStatus" [visible]="true">
    <c-modal-header>
      <h5 cModalTitle>Appointment Status</h5>
      <button (click)="toggleAppointmentStatus()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <app-appointment-status (changeVisibility)="changeAppointmentStatusVisibility($event)"></app-appointment-status>
    </c-modal-body>
  </c-modal>
</span>
<span *ngIf="appointmentCancelNoShowVisibility">
  <c-modal id="AppointmentStatus" [visible]="true">
    <c-modal-header>
      <h5 cModalTitle *ngIf="cancelNoShow === 'cancel'">Cancel</h5>
      <h5 cModalTitle *ngIf="cancelNoShow === 'noshow'">NoShow</h5>
      <button (click)="toggleAppointmentCancelNoShow()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <app-appointment-cancel-noshow [type]="cancelNoShow" (changeVisibility)="changeAppointmentCancelNoShowVisibility($event)"></app-appointment-cancel-noshow>
    </c-modal-body>
  </c-modal>
</span>