<c-callout color="danger">
    <strong>Check-In</strong>,<strong>Check-out</strong>,<strong>No-Show</strong> statuses <br />
    are not available since appointment date in the future
</c-callout>
<c-card>
    <c-card-body>
        <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">Confirm</button>
            <button class="btn btn-outline-primary" type="button">Check In</button>
            <button class="btn btn-outline-primary" type="button">Check Out</button>
            <button class="btn btn-outline-primary" type="button">No Show</button>
            <button class="btn btn-outline-primary" type="button">Cancel</button>
          </div>
    </c-card-body>
</c-card>