<div class="row alert alert-secondary" *ngIf="statusDisabled" role="alert">
    <strong>Check-In</strong>,<strong>Check-out</strong>,<strong>No-Show</strong> statuses <br />
    are not available since appointment date in the future
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button  class="button-width" color="primary"
                    (click)="onConfirmedClick()">Confirmed</button>
            </div>
            <div class="col-md-12">
                <button mat-raised-button [disabled]="statusDisabled" class="button-width" color="primary"
                    (click)="onCheckInClick()">Check-In</button>
            </div>
            <div class="col-md-12">
                <button mat-raised-button [disabled]="statusDisabled" color="primary" class="button-width"
                    (click)="onCheckOutClick()">Check-Out</button>
            </div>
            <div class="col-md-12">
                <button mat-raised-button [disabled]="statusDisabled" color="primary" class="button-width"
                    (click)="onNoShowClick()">NoShow</button>
            </div>
            <div class="col-md-12">
                <button mat-raised-button color="primary" class="button-width"
                    (click)="onCancelClick()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<h2></h2>