<c-container fluid>
    <div class="mb-2">
        <c-row>
            <ul cListGroup flush>
                <li cListGroupItem><strong>Patient-Name</strong> : {{patientName}}</li>
                <li cListGroupItem><strong>Patient-Case</strong> : {{pateintCase}} </li>
                <li cListGroupItem><strong>StartDate</strong> : {{appointmentStartDate | date: 'MM/dd/yyyy hh:mm'}}</li>
                <li cListGroupItem><strong>EndDate</strong> : {{appointmentEndDate | date: 'MM/dd/yyyy hh:mm'}} </li>
                <li cListGroupItem><strong>Appointmet Status</strong> : {{appointmentStatus}}</li>
                <li cListGroupItem><strong>Appointmet Status</strong> : {{appointmentType}}</li>
            </ul>
        </c-row>
    </div>
    <c-row class="justify-content-center">
        <c-button-group role="group">
            <button id="btnSearch" class="btn btn-primary btn-sm " Style="width: 100px;"
                (click)="editAppointmentAction()">Edit</button>
            <button id="btnClear" class="btn btn-info btn-sm " Style="width: 100px;"
                (click)="changeStatusAppointmentAction()">Status</button>
            <button id="btnClear" class="btn btn-danger btn-sm " Style="width: 100px;"
                (click)="deleteAppointmentAction()">Delete</button>
        </c-button-group>
    </c-row>
</c-container>