<ngx-spinner></ngx-spinner>
<c-row>
    <c-col xs="12" class="mb-2">
        <h1>Patient Chart</h1>
    </c-col>
</c-row>
<hr />
<c-container fluid>
    <!--Pateint Basic Component-->
    <c-row class="justify-content-center">
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-header>
                    <strong>Patient Information</strong>
                </c-card-header>
                <c-card-body>
                    <div style="float: left;">
                        <svg cIcon name="cilUser" title="cilUser" size="9xl"></svg>
                    </div>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilDisabled" title="cilDisabled"></svg>
                                </span>
                                <input cFormControl readonly [(ngModel)]="patientChartInfo.name" />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilAddressBook" title="cilAddressBook"></svg>
                                </span>
                                <input cFormControl readonly [(ngModel)]="patientChartInfo.address[0]" />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilBirthdayCake" title="cilBirthdayCake"></svg>
                                </span>
                                <input cFormControl readonly [(ngModel)]="patientChartInfo.dateOfBirth" />
                                <input cFormControl [(ngModel)]="patientChartInfo.age" style="max-width: 20%;" />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cibMailRu" title="cibMailRu"></svg>
                                </span>
                                <input cFormControl readonly [(ngModel)]="patientChartInfo.email" />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col class="mb-1">
                            <c-input-group sizing="sm">
                                <span cInputGroupText>
                                    <svg cIcon name="cilPhone" title="cilPhone"></svg>
                                </span>
                                <input cFormControl [(ngModel)]="patientChartInfo.phone" readonly />
                            </c-input-group>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <!-- Patient Appointment-->
    <c-row>
        <c-col xs="12">
            <c-card class="mb-4">
                <c-card-header>
                    <strong>Appointment Information</strong>
                </c-card-header>
                <c-card-body>
                    <c-nav variant="tabs">
                        <c-nav-item>
                            <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]="0" cNavLink>
                                <svg cIcon class="me-2" name="cilCalendar"></svg>
                                Upcoming Appointment
                            </a>
                        </c-nav-item>
                        <c-nav-item>
                            <a [cTabContent]="tabContent2" [routerLink] [tabPaneIdx]=1 cNavLink>
                                <svg cIcon class="me-2" name="cilHistory"></svg>
                                Previous Appointment
                            </a>
                        </c-nav-item>
                    </c-nav>
                    <c-tab-content #tabContent2="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom" >
                        <c-tab-pane tabPaneIdx=0>
                            <app-upcoming-appointment [patientId]="patientId"></app-upcoming-appointment>
                        </c-tab-pane>
                        <c-tab-pane tabPaneIdx=1>
                            <app-previous-appointment [patientId]="patientId"></app-previous-appointment>
                        </c-tab-pane>
                    </c-tab-content>
                </c-card-body>
            </c-card>

        </c-col>
    </c-row>
    <!-- Patient Case-->
    <c-row class="justify-content-center">
        <c-col class="col">
            <c-card class="mb-3 ustify-content-center">
                <c-card-header>
                    <h4>Patient Cases</h4>
                </c-card-header>
                <c-card-body>
                    <c-nav variant="tabs" *ngFor="let case of patientCases; let i = index">
                        <a [active]="i===0" [cTabContent]="caseContent" [routerLink] [tabPaneIdx]="i"
                            cNavLink>{{case.title}}</a>
                    </c-nav>
                    <c-tab-content #caseContent="cTabContent">
                        <c-tab-pane class="p-3" *ngFor="let case of patientCases; let i = index">
                            <app-patient-chart-case [case]="case" [patientId]="patientId"
                                [clinicId]="2"></app-patient-chart-case>
                        </c-tab-pane>
                    </c-tab-content>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>