<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<c-row>
  <c-col xs="auto" class="mb-2">
    <h1>Users</h1>
  </c-col>
</c-row>
<hr />
<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
  <button cButton color="primary"  class="me-md-2" variant="outline" (click)="create()">Create User</button>
</div>
<c-row>
  <c-col>
    <c-card class="mb-3">
      <c-card-header>
        <h5>Clinical Users</h5>
      </c-card-header>
      <c-card-body>
        <app-list-clinical-user></app-list-clinical-user>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col >
    <c-card class="mb-3">
      <c-card-header>
        <h5>Doctors</h5>
      </c-card-header>
      <c-card-body>
        <app-list-doctor-user></app-list-doctor-user>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>