<ng-container *ngIf="props$ | async as props" fluid="true">
  <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns" [items]="(users$ | async) ?? []"
    [itemsPerPage]="props.itemsPerPage" (itemsPerPageChange)="handleItemsPerPageChange($event)"
    [itemsPerPageOptions]="[5,10,20]" [itemsPerPageSelect]="true"
    [tableProps]="{ hover: true, striped: true, responsive: true }" [columnFilterValue]="props.columnFilterValue?? []"
    [sorterValue]="props.sorterValue" [tableProps]="{ hover: true, striped: true, responsive: true , small:true }"
    [tableBodyProps]="{ align: 'middle' }" (sorterValueChange)="handleSorterValueChange($event)" header>
    <ng-template cTemplateId="tableDetails" let-item="item">
      <div [visible]="this.details_visible[item.id] === true" cCollapse>
        <c-card class="rounded-0">
          <c-card-body>
            <strong>Doctor Npi : </strong> {{item['doctor']['npi']}}
            <br>
            <strong>Doctor Licence : </strong> {{item['doctor']['licence']}}
            <br>
            <strong>Doctor Speciality : </strong> {{item['doctor']['speciality']}}
            <br>
            <strong>Doctor Credential : </strong> {{item['doctor']['credential']}}
            <br>
          </c-card-body>
        </c-card>
      </div>
    </ng-template>
    <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
      <td>
        <ng-container [ngSwitch]="columnName">
          <ng-container *ngSwitchCase="'actions'" class="py-2">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button cButton variant="outline" size="sm" (click)="toggleDetails(item['id'])">
                ShowDetails
              </button>
              <button cButton variant="outline" size="sm">
                <svg cIcon name="cilTrash"></svg>
              </button>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{tdContent}}
          </ng-container>
        </ng-container>
      </td>
    </ng-template>
  </c-smart-table>
  <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage" size="sm"
    (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
</ng-container>
<ng-container *ngIf="errorMessage$ | async as errorMessage">
  <hr>
  <c-alert>{{errorMessage}}</c-alert>
</ng-container>