<form cForm #clinicForm="ngForm" (ngSubmit)="add()">
    <small
        *ngIf="submitted   && (clinicname.errors) || (clinicname.invalid && (clinicname.dirty || clinicname.touched))"
        class="form-text text-danger">
        Clinic Name is required
    </small>
    <c-input-group class="mb-3">
        <input autoComplete="name" cFormControl id="firstAddress" name="firstAddress" sizing="sm"
            placeholder="Clinic Name" required [(ngModel)]="createdClinic.name" #clinicname="ngModel" />
    </c-input-group>
    <app-single-address #clinicAddress [address]="createdClinic.address" [submitted]="submitted"></app-single-address>
    <small *ngIf="submitted" class="form-text text-danger">
        Administrator Doctor data is required
    </small>
    <c-input-group class="mb-3">
        <button cButton color="primary" class="mx-2" variant="outline" size="sm" (click)="openCreateDoctorModal()">CreateClinic's Doctor</button>
    </c-input-group>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="primary" variant="outline" (click)="add()" size="sm">Add</button>
    </div>
</form>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col" style="width: 5%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clinic of clinics;let i=index;" scope="row">
            <th scope="row">1</th>
            <td>{{clinic.name}}</td>
            <td>{{clinic.address |json}}</td>
            <td>
                <div class="btn-group " role="group" aria-label="Basic example">
                    <button cButton color="primary" size="sm" variant="outline" (click)="remove(i)">
                        <svg cIcon name="cilTrash"></svg>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<c-modal size="xl" [visible]="createDoctorVisible" (visibleChange)="handleCreateDoctorChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Doctor Creation</h5>
        <button (click)="closeCreateDoctorModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <app-create-administrator-doctor (closeModal)="handleCloseDoctorModal($event)"></app-create-administrator-doctor>
    </c-modal-body>
</c-modal>