<c-container fluid>
    <form cForm #appontmentForm="ngForm">
        <c-row class="justify-content-center">
            <c-col>
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header><strong>Patient</strong></c-card-header>
                    <c-card-body>
                        <div class="mb-1">
                            <small
                                *ngIf="submitted   && (fullName.errors) || (fullName.invalid && (fullName.dirty || fullName.touched))"
                                class="form-text text-danger">
                                Patient name is required
                            </small>
                            <ng-autocomplete [data]="patient$ | async" [searchKeyword]="'fullName'" id="patientname"
                                name="patientname" placeholder="Enter Patient Name" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate" [(ngModel)]="appointment.patient"
                                [ngModelOptions]="{standalone: true}" (selected)='pick($event)'
                                (inputCleared)="unpick($event)" #fullName="ngModel" required>
                            </ng-autocomplete>
                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.fullName"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                        <small
                            *ngIf="submitted   && (patientcase.errors) || (patientcase.invalid && (patientcase.dirty || patientcase.touched))"
                            class="form-text text-danger">
                            Patient Case is required
                        </small>
                        <select cFormControl cSelect class="mb-2" sizing="sm" id="patientcase" name="patientcase"
                            [ngClass]="{'is-invalid': patientcase.invalid && (patientcase.dirty || patientcase.touched)}"
                            [ngModel]="appointment.patientCase" #patientcase="ngModel"
                            (ngModelChange)="onCaseSelected($event)" required>
                            <option [ngValue]="null" disabled>Select patient case</option>
                            <option *ngFor="let case of appointment.patient?.cases" [ngValue]="case"
                                [selected]="case.id === appointment.patientCaseId">
                                {{case.title}}
                            </option>
                        </select>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row>
            <c-col>
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header><strong>Appointment Date</strong></c-card-header>
                    <c-card-body>
                        <div class="mb-1">
                            <c-row>
                                <c-col xs="8"><c-date-picker size="sm"
                                        [date]="appointment.appointmentDate.startDate"></c-date-picker></c-col>
                                <c-col xs="4"><c-time-picker size="sm" id="startTime" name="startTime"
                                        [(ngModel)]="appointment.appointmentDate.startTime"
                                        (timeChange)="changeStartTime($event)"></c-time-picker></c-col>
                            </c-row>
                        </div>
                        <c-row>
                            <c-col xs="8"><c-date-picker size="sm"
                                    [date]="appointment.appointmentDate.endDate"></c-date-picker></c-col>
                            <c-col xs="4"><c-time-picker size="sm" id="endTime" name="endTime"
                                    [(ngModel)]="appointment.appointmentDate.endTime"
                                    (timeChange)="chnageEndTime($event)"></c-time-picker></c-col>
                        </c-row>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row>
            <c-col>
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header><strong>Therapist</strong></c-card-header>
                    <c-card-body>
                        <c-form-check [switch]="true">
                            <input cFormCheckInput type="checkbox" name="isDependent"
                                (change)="checkAllTherapists($event)" />
                            <label cFormCheckLabel>All Therapists</label>
                        </c-form-check>
                        <small
                            *ngIf="submitted   && (appTherapy.errors) || (appTherapy.invalid && (appTherapy.dirty || appTherapy.touched))"
                            class="form-text text-danger">
                            Therapy is required
                        </small>
                        <select cFormControl cSelect class="mb-2" sizing="sm" id="appTherapy" name="appTherapy"
                            [ngClass]="{'is-invalid': appTherapy.invalid && (appTherapy.dirty || appTherapy.touched)}"
                            [(ngModel)]="appointment.therapy" #appTherapy="ngModel" required>
                            <option [ngValue]="null" disabled selected>Select Therapy</option>
                            <option *ngFor="let therapy of this.therapists$ | async" [ngValue]="therapy">
                                {{therapy.userName}}
                            </option>
                        </select>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row>
            <c-col>
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header><strong>Appointment Type</strong></c-card-header>
                    <c-card-body>
                        <small
                            *ngIf="submitted   && (apptype.errors) || (apptype.invalid && (apptype.dirty || apptype.touched))"
                            class="form-text text-danger">
                            Appointment Type is required
                        </small>
                        <select cFormControl cSelect class="mb-2" sizing="sm" id="apptype" name="apptype"
                            [ngClass]="{'is-invalid': apptype.invalid && (apptype.dirty || apptype.touched)}"
                            [(ngModel)]="appointment.appointmentType" #apptype="ngModel" required>
                            <option [ngValue]="null" disabled selected>Select Appointment Type</option>
                            <option *ngFor="let type of appointmentType | keyvalue" [value]="type.key">
                                {{type.key}}
                            </option>
                        </select>
                        <textarea cFormControl id="exampleFormControlTextarea1" rows="2" id="appointmentnote"
                            name="appointmentnote" [(ngModel)]="appointment.note"
                            placeholder="Appointment Note"></textarea>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
        <c-row>
            <c-col>
                <c-card class="mb-3 ustify-content-center">
                    <c-card-header><strong>Appointment Repetition</strong></c-card-header>
                    <c-card-body>
                        <small
                            *ngIf="submitted   && (repetition.errors) || (repetition.invalid && (repetition.dirty || repetition.touched))"
                            class="form-text text-danger">
                            Appointment Repetition is required
                        </small>
                        <select cFormControl cSelect class="mb-2" sizing="sm" id="repetition" name="repetition"
                            [ngClass]="{'is-invalid': repetition.invalid && (repetition.dirty || repetition.touched)}"
                            [(ngModel)]="appointment.appointmentRepetition" #repetition="ngModel" required>
                            <option [ngValue]="null" disabled selected>Select Appointment Repetition</option>
                            <option *ngFor="let repetition of appointmentRepetition | keyvalue"
                                [value]="repetition.key">
                                {{repetition.value}}
                            </option>
                        </select>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </form>
</c-container>