<c-container fluid>
    <c-row class="justify-content-center">
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Patient</strong></c-card-header>
                <c-card-body>
                    <div class="mb-1">
                        <ng-autocomplete [data]="patient$ | async" [searchKeyword]="'fullName'"
                        placeholder="Enter Patient Name" [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate" [(ngModel)]="appointment.patient"
                        [ngModelOptions]="{standalone: true}" (selected)='pick($event)' (inputCleared)="unpick($event)">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.fullName"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                    </div>
                    <select cFormControl cSelect class="mb-2" sizing="sm" id="role" name="role"
                        [ngClass]="{'is-invalid': appatient.invalid && (appatient.dirty || appatient.touched)}"
                        [(ngModel)]="appointment.patientCase" #appatient="ngModel">
                        <option [ngValue]="null" disabled selected>Select patient case</option>
                        <option *ngFor="let case of appointment.patient?.cases" [ngValue]="case">
                            {{case.title}}
                        </option>
                    </select>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Appointment Date</strong></c-card-header>
                <c-card-body>
                    <div class="mb-1">
                        <c-row>
                            <c-col xs="8"><c-date-picker size="sm"></c-date-picker></c-col>
                            <c-col xs="4"><c-time-picker size="sm"></c-time-picker></c-col>
                        </c-row>
                    </div>
                    <c-row>
                        <c-col xs="8"><c-date-picker size="sm"></c-date-picker></c-col>
                        <c-col xs="4"><c-time-picker size="sm"></c-time-picker></c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Therapist</strong></c-card-header>
                <c-card-body>
                    <c-form-check [switch]="true">
                        <input cFormCheckInput type="checkbox"  name="isDependent" (change)="checkAllTherapists($event)"/>
                        <label cFormCheckLabel>All Therapists</label>
                    </c-form-check>
                    <select cFormControl cSelect class="mb-2" sizing="sm" id="role" name="role"
                        [ngClass]="{'is-invalid': appatient.invalid && (appatient.dirty || appatient.touched)}"
                        [(ngModel)]="appointment.therapy" #appatient="ngModel">
                        <option [ngValue]="null" disabled selected>Select Therapy</option>
                        <option *ngFor="let therapy of this.therapists$ | async" [ngValue]="therapy">
                            {{therapy.userName}}
                        </option>
                    </select> 
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Appointment Type</strong></c-card-header>
                <c-card-body>
                    <!-- <select cFormControl cSelect class="mb-2" sizing="sm" id="role" name="role"
                        [ngClass]="{'is-invalid': appatient.invalid && (appatient.dirty || appatient.touched)}"
                        [(ngModel)]="appointmentPatient" #appatient="ngModel">
                        <option [ngValue]="null" disabled selected>Select User Type</option>
                        <option *ngFor="let patient of patients | keyvalue" [value]="patient.key">
                            {{patient.value}}
                        </option>
                    </select> -->
                    <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <c-row>
        <c-col>
            <c-card class="mb-3 ustify-content-center">
                <c-card-header><strong>Appointment Repetition</strong></c-card-header>
                <c-card-body>
                    <!-- <select cFormControl cSelect class="mb-2" sizing="sm" id="role" name="role"
                        [ngClass]="{'is-invalid': appatient.invalid && (appatient.dirty || appatient.touched)}"
                        [(ngModel)]="appointmentPatient" #appatient="ngModel">
                        <option [ngValue]="null" disabled selected>Select User Type</option>
                        <option *ngFor="let patient of patients | keyvalue" [value]="patient.key">
                            {{patient.value}}
                        </option>
                    </select> -->
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>